@charset "utf-8";

.card
{
	height: 128px;
	width: 250px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 1);
	display: inline-block;
	border: 1px #bbb solid;
	background-color: #fafafa;
	cursor: pointer;
	float: left;
	
	font-family: 'Open Sans', 'Segoe UI Light', 'Segoe UI', Ubuntu, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #888;
	text-align: center;
}

.card_title
{
	height: 90px;
	width: 100%;
	position: relative;
	overflow: hidden;	
}
.card_title:after
{
	content: "   ";
	white-space: pre;
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 20px;
	padding-left: 15px;
	background: linear-gradient(to right, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 50%);
}

.card_name
{
	max-width: 240px;
	max-height: 75px;
	margin: 0;
	font-size: 20px;
	padding: 10px 5px 5px 5px;
}

.card_meta
{
	height: 38px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 50%);
}
.card_meta table
{
	height: 100%;
	width: 100%;
}

.card_exemplar
{
	float: left;
}

.card_repeat
{
	float: right;
}

.card_active
{
	background-color: #fff;
}

.card_active_p
{
	color: #33b5e5;
}